body{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.results{
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.score{
    text-align: center;
}
.whoWon{
    text-align: center;
}